In [1]:
#!pip install xmltodict

Requirement already satisfied: xmltodict in /opt/homebrew/Caskroom/miniconda/base/envs/imenepy/lib/python3.9/site-packages (0.13.0)

In [1]:
import xmltodict
import json
import pandas as pd

In [2]:
periods = [1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015]

all_data = {}

In [3]:
for period in periods:
    period = str(period)

    with open('data/TheNewYorkTimes.' + period +'.xml') as xml_file:
        all_data[period] = xmltodict.parse(xml_file.read())

In [4]:
len(all_data['1980']['records']['record'])

94697

In [5]:
for period in periods:
    period = str(period)

    a = len(all_data[period]['records']['record'])
    data = {}

    for i in range(a):
        data[i] = all_data[period]['records']['record'][i]

    all_data[period] = pd.DataFrame.from_dict(data, orient='index')

In [7]:
for period in periods:
    period = str(period)

    df = all_data[period]
    df = df[df['fulltext'].notna()]
    all_data[period] = df

In [13]:
all_data[period].head(1)

,record_id,source_id,publishDate,series,series2,title,author,leadtext,fulltext,link,year,text
0,5F0R-HCS1-DXY4-X2RB,https://www.nexis.com/docview/getDocForCuiReq?...,20150105T000000Z,The New York Times,Section B; Column 0; Business/Financial Desk; ...,"Tax Increase on Digital Goods to Hit Europe, T...",By MARK SCOTT,LONDON -- Europe's tax showdown could be heade...,What remains unclear is who in the 28-country ...,http://www.nytimes.com/2015/01/02/business/int...,2015,LONDON -- Europe's tax showdown could be heade...

In [14]:
for period in periods:
    period = str(period)
    all_data[period]['year'] = list(map(lambda x: int(x[:4]), all_data[period]['publishDate']))

    all_data[period]['text'] = all_data[period]['leadtext'] + all_data[period]['fulltext']

    all_data[period].drop(['source_id', 'publishDate', 'series', 'series2', 'author', 'title', 'link', 'leadtext', 'fulltext'], axis = 1, inplace= True)

/var/folders/_5/mxyj0m894r7_07snmq0h20240000gn/T/ipykernel_59699/393057299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data[period]['year'] = list(map(lambda x: int(x[:4]), all_data[period]['publishDate']))
/var/folders/_5/mxyj0m894r7_07snmq0h20240000gn/T/ipykernel_59699/393057299.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data[period]['text'] = all_data[period]['leadtext'] + all_data[period]['fulltext']
/var/folders/_5/mxyj0m894r7_07snmq0h20240000gn/T/ipykernel_59699/393057299.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data[period].drop(['source_id', 'publishDate', 'series', 'series2', 'author', 'title', 'link', 'leadtext', 'fulltext'], axis = 1, inplace= True)

In [15]:
for period in periods:
    period = str(period)
    all_data[period] = all_data[period][all_data[period]['year'] == int(period)]

In [17]:
for period in periods:
    period = str(period)

    all_data[period]['word_count'] = list(map(lambda x: len(str(x).split()), all_data[period]['text']))

/var/folders/_5/mxyj0m894r7_07snmq0h20240000gn/T/ipykernel_59699/934704081.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data[period]['word_count'] = list(map(lambda x: len(str(x).split()), all_data[period]['text']))

In [18]:
all_data[period]

,record_id,year,text,word_count
0,5F0R-HCS1-DXY4-X2RB,2015,LONDON -- Europe's tax showdown could be heade...,900
1,5F0R-HCS1-DXY4-X2RF,2015,"EAST HAMPTON, N.Y. -- Frank Dalene never put t...",1045
2,5F0R-HCS1-DXY4-X2RG,2015,One big argument for ''all you can eat'' music...,1146
3,5F0R-HCS1-DXY4-X2RH,2015,The religious scholar Karen Armstrong spent se...,1598
4,5F0R-HCS1-DXY4-X2RJ,2015,It's telling that Haydn's name does not featur...,483
...,...,...,...,...
93949,5HPF-5NN1-JBG3-63TS,2015,"On a stretch of the East Village, New York Cit...",746
93950,5HPF-5NN1-JBG3-63SV,2015,"Before sailing in Australia's great race, whic...",716
93951,5HPG-SGC1-DY2M-W00W,2015,"VARIETY PUZZLE - For most people, the old trad...",201
93952,5HPK-T351-JBKK-533F,2015,SUNDAY PUZZLE - It seems like the year just fl...,716
93953,5HPH-DVJ1-JBKK-52FJ,2015,"As I've said, it's hard these days for liberal...",294