In [1]:
#!pip install xmltodict

Requirement already satisfied: xmltodict in /opt/homebrew/Caskroom/miniconda/base/envs/imenepy/lib/python3.9/site-packages (0.13.0)

In [1]:
import xmltodict
import json
import pandas as pd

In [2]:
periods = [1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015]

all_data = {}

In [3]:
for period in periods:
    period = str(period)

    with open('data/TheNewYorkTimes.' + period +'.xml') as xml_file:
        all_data[period] = xmltodict.parse(xml_file.read())

In [4]:
len(all_data['1980']['records']['record'])

94697

In [5]:
for period in periods:
    period = str(period)

    a = len(all_data[period]['records']['record'])
    data = {}

    for i in range(a):
        data[i] = all_data[period]['records']['record'][i]

    all_data[period] = pd.DataFrame.from_dict(data, orient='index')

In [6]:
for period in periods:
    period = str(period)
    all_data[period] = all_data[period].fillna('')

In [7]:
all_data[period].head(1)

,record_id,source_id,publishDate,series,series2,title,author,leadtext,fulltext,link
0,5F0R-HCS1-DXY4-X2RB,https://www.nexis.com/docview/getDocForCuiReq?...,20150105T000000Z,The New York Times,Section B; Column 0; Business/Financial Desk; ...,"Tax Increase on Digital Goods to Hit Europe, T...",By MARK SCOTT,LONDON -- Europe's tax showdown could be heade...,What remains unclear is who in the 28-country ...,http://www.nytimes.com/2015/01/02/business/int...

In [8]:
for period in periods:
    period = str(period)
    all_data[period]['year'] = list(map(lambda x: int(x[:4]), all_data[period]['publishDate']))

    all_data[period]['text'] = all_data[period]['leadtext'] + all_data[period]['fulltext']

    all_data[period].drop(['source_id', 'publishDate', 'series', 'series2', 'author', 'title', 'link', 'leadtext', 'fulltext'], axis = 1, inplace= True)

In [9]:
for period in periods:
    period = str(period)
    all_data[period] = all_data[period][all_data[period]['year'] == int(period)]

In [10]:
for period in periods:
    period = str(period)

    all_data[period]['word_count'] = list(map(lambda x: len(str(x).split()), all_data[period]['text']))

    all_data[period] = all_data[period][all_data[period]['word_count'] > 0]

In [11]:
all_data[period].iloc[0]['text']

"LONDON -- Europe's tax showdown could be headed straight to people's wallets. With the new year, a change in fiscal rules in the European Union is increasing the tax on many purchases of digital content like e-books and smartphone applications. Under the new rules, first approved in 2008, the tax rate on digital services like cloud storage and movie streaming will be determined by where consumers live, and not where the company selling the product has its European headquarters. Tax experts say Europe's revamped rules could add up to an extra $1 billion in annual tax revenue for European governments.What remains unclear is who in the 28-country bloc will pay most of the bill. ''There inevitably will be a price change,'' said Richard Mollet, chief executive of the Publishers Association, a British trade body. ''The question is whether retailers, publishers or customers will have to take on board any increase.'' The changes to Europe's so-called value-added tax -- a tax on goods and services similar to sales taxes in the United States -- are part of a continuing push by lawmakers to tax the region's digital economy more heavily. Companies like Apple and Amazon have been roundly criticized for housing their European operations in low-tax countries like Ireland and Luxembourg. The companies say they operate there legally. Many of the world's largest tech companies selling digital products, like Amazon and Microsoft, now house their European digital businesses in Luxembourg, where the V.A.T. rate is as low as 3 percent for e-book purchases. In contrast, countries like Britain charge companies a 20 percent sales tax for selling e-books. Analysts say the current rules provide an advantage to global companies that have the financial muscle to shop around for the lowest tax rate. Microsoft has said that charges for Skype, the Internet calling service, will increase for European consumers, as the company alters the V.A.T. levels in line with individual countries' tax rates. The European prices for Microsoft's other services, including game downloads, are not expected to change. Netflix, the video-streaming service that is expanding aggressively across Europe, does not plan to increase its monthly charge, and Amazon said that the cost of its annual Prime membership, which includes online video content in some countries, would not rise. An Amazon spokesman, however, declined to comment on whether the expected tax increase for e-books would be passed on to customers or if the company or publishers would eventually pick up additional costs. ''People will take their cue from Amazon,'' said Mr. Mollet of the Publishers Association, who added that the company's dominant position in Europe's e-book market gave it significant weight in setting pricing. ''In the first few weeks, we'll likely see a lot of price volatility.'' Google and Apple, which run the world's two largest app stores, will also not reduce the 30 percent cut that they take from each digital sale. The American tech giants, however, will collect each country's V.A.T. charge on behalf of app developers. Some of those are expected to absorb the tax increases to avoid angering European customers, who are unlikely to welcome any increase in the price of games, apps or other digital downloads. ''Everyone is going to face the same problem; it will be tough to raise prices,'' said Andy Payne, co-founder of Mastertronic Group, a small British video game publisher. ''Will the V.A.T. changes reduce our revenue? The answer is probably yes.'' Europe's efforts follow similar attempts in the United States to pass an Internet sales tax that would force online retailers to collect sales taxes for state and local governments, even if the companies do not have a physical presence in the state. Congress, however, has yet to pass such a bill. The tax overhauls also come as policy makers on both sides of the Atlantic struggle to keep pace with technological advances. Since Europe's V.A.T. changes were approved in 2008, for example, companies like Netflix have significantly changed how they operate, moving to relying on Internet movie streaming that takes advantage of high-speed broadband and away from DVD rentals sent through the mail. ''Tech developments are happening very quickly,'' said Gijsbert Bulk, a tax partner at the accounting firm Ernst & Young in Amsterdam. ''Politicians are trying to find a way to tax the digital economy.'' One of the European countries most affected by the tax change will be Luxembourg. The small country's low value-added tax rates have enticed Apple to set up its international iTunes business there, and Microsoft's digital download operation is also based there. Luxembourg's corporate tax system is being challenged by several European investigations into whether politicians gave preferential treatment to the likes of Amazon and a financing unit of Fiat, the Italian carmaker. And Jean-Claude Juncker, Luxembourg's former prime minister, who now runs the executive arm of the European Union responsible for the continuing investigations, has been criticized for his role in promoting the country's low-tax policies. In preparation for potential lost income from value-added taxes, Luxembourg's lawmakers have announced an increase in the country's value-added rate on most goods to 17 percent from 15 percent, though it will still offer heavily discounted rates for e-books and some other products. ''Luxembourg is going to lose an enormous amount of revenue,'' said Karen Robb, a tax partner at the accounting firm Grant Thornton in London. ''There will be fewer compelling tax reasons for companies to stay in Luxembourg.''"

# Pre-processing

In [12]:
from nltk.stem import WordNetLemmatizer
import re
import numpy as np
import nltk

lemmatizer = WordNetLemmatizer()

from nltk.corpus import stopwords
stop_words = list(set(stopwords.words('english')))

In [13]:
def preprocess(text_string):
    
    non_word_char = "[^\w\']"
    
    parsed_text = re.sub(non_word_char, ' ', text_string)

    parsed_text = parsed_text.lower()

    parsed_text = parsed_text.split()

    parsed_text = list(filter(lambda x: not x in stop_words, parsed_text))

    parsed_text = list(map(lambda x: lemmatizer.lemmatize(x), parsed_text))

    parsed_text = ' '.join(parsed_text)
    
    return parsed_text

In [14]:
all_data['1980']['text'] = np.vectorize(preprocess)(all_data['1980']['text'])
all_data['1980'].to_csv('data_csv/news_1980.csv')

In [15]:
all_data['1985']['text'] = np.vectorize(preprocess)(all_data['1985']['text'])
all_data['1985'].to_csv('data_csv/news_1985.csv')

In [16]:
all_data['1990']['text'] = np.vectorize(preprocess)(all_data['1990']['text'])
all_data['1990'].to_csv('data_csv/news_1990.csv')

In [17]:
all_data['1995']['text'] = np.vectorize(preprocess)(all_data['1995']['text'])
all_data['1995'].to_csv('data_csv/news_1995.csv')

In [18]:
all_data['2000']['text'] = np.vectorize(preprocess)(all_data['2000']['text'])
all_data['2000'].to_csv('data_csv/news_2000.csv')

:

:

In [ ]:
all_data['2005']['text'] = np.vectorize(preprocess)(all_data['2005']['text'])
all_data['2005'].to_csv('data_csv/news_2005.csv')

In [ ]:
all_data['2010']['text'] = np.vectorize(preprocess)(all_data['2010']['text'])
all_data['2010'].to_csv('data_csv/news_2010.csv')

In [ ]:
all_data['2015']['text'] = np.vectorize(preprocess)(all_data['2015']['text'])
all_data['2015'].to_csv('data_csv/news_2015.csv')

# Getting the list of target words:

In [20]:
from collections import Counter

In [ ]:
def word_freq(words):
    word_frequencies = Counter(words)

    return word_frequencies

In [ ]:
words = {str(k): [] for k in periods}

for period in periods:
    period = str(period)

    for text in all_data[period]['text']:
        words[period] += str(text).split()

In [23]:
def most_common_tokens(n, words):

    counter = Counter(words)

    return counter.most_common(n)

In [33]:

words = {str(k): [] for k in periods}

for period in periods:
    period = str(period)

    for text in all_data[period]['text']:
        words[period] += str(text).split()

In [38]:
most_common_words = {str(k): [] for k in periods}

for period in periods:
    period = str(period)

    most_common_words[period] = most_common_tokens(100, words[period])

In [39]:
most_common_words['2005']

[('Mr.', 266915),
 ('The', 260035),
 ('said', 217372),
 ('--', 145759),
 ('I', 115304),
 ('would', 112121),
 ('said.', 109291),
 ('one', 94649),
 ('But', 88252),
 ('like', 78475),
 ('In', 75035),
 ('New', 75030),
 ('He', 73705),
 ('also', 68677),
 ('two', 67751),
 ('last', 65084),
 ('Ms.', 58517),
 ('first', 56976),
 ('new', 55830),
 ('could', 55631),
 ('people', 55449),
 ('said,', 51659),
 ("''I", 48059),
 ('many', 44945),
 ('It', 43293),
 ('A', 42424),
 ('years', 41151),
 ('time', 38552),
 ('even', 38318),
 ('made', 38156),
 ("''The", 38059),
 ('American', 36842),
 ('three', 36513),
 ('percent', 36216),
 ('get', 35560),
 ('make', 35222),
 ('much', 35100),
 ('And', 35095),
 ('York', 34424),
 ('United', 34313),
 ('million', 33168),
 ('may', 32105),
 ('still', 29155),
 ('year', 28269),
 ('going', 28030),
 ('way', 27651),
 ('back', 27171),
 ('Dr.', 27112),
 ('since', 26444),
 ('company', 25627),
 ('say', 25611),
 ('They', 25183),
 ('work', 25134),
 ('officials', 24386),
 ('think', 24300),
 ('take', 24114),
 ("''We", 24027),
 ('including', 23901),
 ('another', 23732),
 ('She', 23673),
 ('next', 23521),
 ('former', 23409),
 ('want', 23080),
 ('part', 22970),
 ('might', 22935),
 ('called', 22617),
 ('good', 22414),
 ('home', 22241),
 ('four', 22017),
 ('never', 21932),
 ('go', 21625),
 ('public', 21541),
 ('long', 21252),
 ('state', 21209),
 ('see', 21083),
 ('government', 20972),
 ('know', 20682),
 ('around', 20615),
 ('States', 20345),
 ('little', 20209),
 ('As', 19867),
 ('nan', 19599),
 ('For', 19569),
 ('told', 19229),
 ('well', 19051),
 ('come', 19011),
 ('president', 18887),
 ('found', 18881),
 ('used', 18831),
 ('several', 18631),
 ('came', 18272),
 ('every', 18137),
 ('left', 18009),
 ('At', 17963),
 ('five', 17935),
 ('among', 17866),
 ('city', 17795),
 ('That', 17721),
 ('put', 17704),
 ('took', 17672)]